<!--this is template of my app-component or root component, everything goes here-->

<p class='boundary'>app component starts</p>

<!--service example-->
<div class='service'>
    <h1>service example</h1>
    <p *ngFor='let book of books'>
        {{book | uppercase}}<br>
    </p>

</div>


<!--template reference example-->
<div class='refVariable'>
    <h1>template reference example</h1>
    <app-child #child></app-child>
    {{child.childCount}} I am in parent : <button (click)='child.iAmChildMethod()'>click Me</button>

</div>

<!--@Input example-->
<div class='input'>
    <h1>@Input example</h1>
    <app-child-input [nameOfParent]='iAmPropertyOfAppComponent'> </app-child-input>
</div>


<!--@OutputExample-->
<div class='output'>
    <h1>@Output example</h1>
    <app-child-output (change)='parentMethod($event)'></app-child-output>
</div>


<p class='boundary'>app component ends</p>